In [1]:
import keyword

In [2]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
var=True

# Data Types

In [5]:
for i in range(0,5):
    print("Shreya swami is here")

Shreya swami is here
Shreya swami is here
Shreya swami is here
Shreya swami is here
Shreya swami is here

In [6]:
a=3+4j
a

(3+4j)

In [7]:
print(type(a))

<class 'complex'>

In [8]:
a=5
print(a)

5

In [9]:
b=float(a)
print(b)

5.0

In [10]:
b=complex(a)
print(b)

(5+0j)

In [11]:
a=3+4J
print(a)

(3+4j)

In [12]:
b=int(a)
print(b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [47]:
import sys

In [49]:
print("Script name:",sys.argv[0])

Script name: C:\Users\Admin\.jupyter\New folder\New folder\Lib\site-packages\ipykernel_launcher.py

In [51]:
print("Command line argument:",sys.argv[1])

Command line argument: -f

In [53]:
print("Script name:",sys.argv[1])

Script name: -f

In [55]:
print("Command line argument:",sys.argv[0])

Command line argument: C:\Users\Admin\.jupyter\New folder\New folder\Lib\site-packages\ipykernel_launcher.py

In [57]:
print("Command line argument:",sys.argv[2])

Command line argument: C:\Users\Admin\AppData\Roaming\jupyter\runtime\kernel-65205c2a-5dae-426c-a501-8df3bbd5537e.json

In [59]:
sys.argv

['C:\\Users\\Admin\\.jupyter\\New folder\\New folder\\Lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\Admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-65205c2a-5dae-426c-a501-8df3bbd5537e.json']

# Operator

In [61]:
a=32
b=5

print(f"print the value of a and b:",a+b)
print(f"print the value of a and b:",a-b)
print(f"print the value of a and b:",a*b)
print(f"print the value of a and b:",a/b)
print(f"print the value of a and b:",a//b)   # Floor divsion :- it used only decimal point.
print(f"print the value of a and b:",a**b)

print the value of a and b: 37
print the value of a and b: 27
print the value of a and b: 160
print the value of a and b: 6.4
print the value of a and b: 6
print the value of a and b: 33554432

# Relational Operator

In [63]:
a=32
b=5

print(f"print the value of a and b:",a>b)
print(f"print the value of a and b:",a<b)
print(f"print the value of a and b:",a>=b)
print(f"print the value of a and b:",a<=b)
print(f"print the value of a and b:",a==b)   
print(f"print the value of a and b:",a!=b)

print the value of a and b: True
print the value of a and b: False
print the value of a and b: True
print the value of a and b: False
print the value of a and b: False
print the value of a and b: True

# Logical Operators

In [65]:
a=32
b=5

print(f"print the value of a and b:",a<b and a>b)
print(f"print the value of a and b:",a>b or a<b)
print(f"print the value of a and b:",not (a<b and a>b))

print the value of a and b: False
print the value of a and b: True
print the value of a and b: True

In [67]:
print(5&6)

4

In [69]:
print(15>>1)

7

In [71]:
print(15<<1)

30

# Assignment Operators

In [73]:
a=5

In [75]:
a

5

In [83]:
a=8
b=8

In [85]:
print(a is b)

True

In [87]:
print(a is not b)

False

In [89]:
print("id of a:",id(a))
print("id of b:",id(b))

id of a: 140727853333144
id of b: 140727853333144

In [91]:
a=8
b=6

In [93]:
print(a is b)

False

In [95]:
print(a is not b)

True

In [97]:
print("id of a:",id(a))
print("id of b:",id(b))

id of a: 140727853333144
id of b: 140727853333080

# If-else statment

In [99]:
a=int(input("Take a no"))
if a%2==0:
    print("Even No")
else:
    print("Odd No")

Take a no 3

Odd No

In [101]:
age=int(input("Enter a age"))
if age<18:
    print("you are too young to marry")
elif age>60:
    print("you are too old to marray")
else:
    print("we will find a perfect match for you")

Enter a age 24

we will find a perfect match for you

In [103]:
x=100

if x>80:
    print("x is greater than 80")

    if x>90:
       print("x is greater than 90")

else:
    print("x is less than 80")

x is greater than 80
x is greater than 90

In [105]:
age=34

if age == 34:
    print("Age is 34")

Age is 34

In [ ]:
# Short hand

In [107]:
if age == 34: print("age is 34")

age is 34

In [45]:
salary = 90000

print("person having good salary") if salary >70000 else print("salary is less than 7000")

person having good salary

In [43]:
salary = 90000

if salary > 70000:
    print("the person have good salary")

else:
    ("the salary is less than 70000")

the person have good salary

In [41]:
age=45
print("young Age") if age < 35 else print("middle age")

middle age

In [39]:
age=20

print("younge age") if age < 24 else print("midle age")

younge age

In [37]:
a=int(input("enter age "))
if a%5==0:
    print("hello")
else:
    print("Bye")

enter age  32

Bye

In [33]:
num=int(input("enter a no"))
print("last  digit of number is" , num%10)

enter a no 55

last  digit of number is 5

In [31]:
a=int(input("enter a no"))
z=a%10
if z%3==0:
    print("last digit of number divsible by 3")
else:
    print("last digit of no is not divsible by 3")

enter a no 34

last digit of no is not divsible by 3

In [119]:
per=int(input("enter a percentage"))
if per>90:
    print("Grade A")
elif per >80 and per<=90:
    print("Grade B")
elif per >=60 and per<=80:
    print("Grade C")
else:
    print(" per is below 60 then D")

enter a percentage 99

Grade A

In [151]:
yr=int(input("Enter a year"))
if yr%100==0:
    if yr%400==0:
        print("Enter  yr is leap yr")
    else:
        print("enter yr is not leap yr")

else:
    if yr%4==0:
        print("Enter  yr is leap yr")
    else:
        print("enter yr is not leap yr")

Enter a year 2004

Enter  yr is leap yr

In [161]:
a=int(input("Enter a no from week 1 to 7"))

if a==1:
    print("Monday")
elif a==2:
    print("Tuesday")
elif a==3:
    print("Wednesday")
elif a==4:
    print("Thursday")
elif a==5:
    print("Friday")
elif a==6:
    print("Saturday")
elif a==7:
    print("Sunday")
else:
    print("please enter no between 1 to 7")

Enter a no from week 1 to 7 6

Saturday

In [163]:
age=int(input("Enter a age"))

if age >=18:
    print("Person is eligible for voting")
else:
    print("Person is not eligible for voting")

Enter a age 20

Person is eligible for voting

In [165]:
a1=int(input("Enter a first no"))
b1=int(input("Enter a second no"))
if a1>b1:
    print("smaller no", b1)
else:
    print("smaller no", a1)

Enter a first no 23
Enter a second no 33

smaller no 23

In [171]:
num=int(input("Enter a no"))
if num>0:
    print("positive no")
else:
    print("negative no")

Enter a no -9

negative no

In [177]:
a=int(input("enter a no"))
if a%2==0 and a%3==0:
      print("no is divisible by 2 and 3")
else:
     print("no is not divisible by 2 and 3")

enter a no 12

no is divisible by 2 and 3

In [179]:
temp=int(input("enter a temp of water"))
if temp>100:
    print("water is boiling")
else:
    ("water is not boiling")

enter a temp of water 200

water is boiling